name: docs-proxy-app
namespace: docs
image:
  name: docs-proxy
  tag: ""
hostnames:
- docs.giantswarm.io
- docs.operations.awsprod.gigantic.io

resources:
  requests:
    cpu: 10m
    memory: 10M
  limits:
    cpu: 100m
    memory: 50M

ingress:
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-giantswarm
    kubernetes.io/tls-acme: "true"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"

global:
  podSecurityStandards:
    enforced: false
