apiVersion: apps/v1
kind: Deployment

metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ .Values.name }}
  annotations:
    ignore-check.kube-linter.io/no-read-only-root-fs: "nginx writes to the disk"
  labels:
    app: {{ .Values.name }}
    {{- include "labels.common" . | nindent 4 }}

spec:
  replicas: 2
  revisionHistoryLimit: 2

  selector:
    matchLabels:
      app: {{ .Values.name }}

  template:
    metadata:
      name: proxy
      labels:
        app: {{ .Values.name }}
    spec:
      securityContext:
        runAsUser: 1000
        seccompProfile:
          type: RuntimeDefault

      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - podAffinityTerm:
              labelSelector:
                matchLabels:
                  app: {{ .Values.name }}
              topologyKey: kubernetes.io/hostname
            weight: 100

      containers:
        - name: {{ .Values.image.name }}
          image: "gsoci.azurecr.io/giantswarm/{{ .Values.image.name }}:{{ include "image.tag" . }}"
          securityContext:
            allowPrivilegeEscalation: false
            runAsNonRoot: true
            seccompProfile:
              type: RuntimeDefault
            capabilities:
              drop:
                - ALL

          ports:
            - containerPort: 8000
              name: http
          
          volumeMounts:
            - mountPath: /var/cache/nginx
              name: cache-volume

          resources:
            requests:
              cpu: {{ .Values.resources.requests.cpu }}
              memory: {{ .Values.resources.requests.memory }}
            limits:
              cpu: {{ .Values.resources.limits.cpu }}
              memory: {{ .Values.resources.limits.memory }}

          livenessProbe:
            httpGet:
              path: /healthz
              port: 8000
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 30
            timeoutSeconds: 2

      imagePullSecrets:
        - name: docs-proxy-pull-secret
      
      volumes:
        - name: cache-volume
          emptyDir: {}

      serviceAccount: {{ .Values.name }}
      serviceAccountName: {{ .Values.name }}
